<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <form class="form-example" action="/auth/signup" method="POST">
                 <div class="form-group text-white">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control username" id="username" placeholder="Username..." name="username">
                </div>
                <div class="form-group text-white">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control password" id="password" placeholder="Password..." name="password">
                    <small id="passwordHelp" class="form-text text-muted">We'll never ask for your password.</small>
                    {{#if errorMessage}}
                  <p class="error">{{errorMessage}}</p>
                     {{/if}}
                </div>
                <button type="submit" class="btn btn-secondary btn-customized">Signup</button>
              </form>
        </div>
    </div>
</div>



   
