{{!-- <h1>{{title}} 🚀</h1>
<h2>{{subtitle}} 🚀</h2>
<p>Welcome Ironhacker!</p> --}}
<h1>Welcome to the new and improved STEAM 2.0</h1>

<h2>Signup</h2>
<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>
<br>
<h2>Login</h2>
<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>