{{!-- <h1>{{title}} 🚀</h1>
<h2>{{subtitle}} 🚀</h2>
<p>Welcome Ironhacker!</p> --}}
<h1 class="text-white">Welcome to the new and improved STEAM 2.0</h1>
<h2 class="text-secondary">Login</h2>
<form action="/auth/login" method="POST">
   <label class="text-white"> Username
      <input type="text" name="username">
   </label>
   <label class="text-white"> Password
      <input type="password" name="password">
   </label>
   <button type="submit">Submit</button>
</form>