<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
          <img class="navbar-brand navbar-right ml-auto img-fluid" src="/images/poro.png"/>
            <form class="form-example" action="/auth/signup" method="POST">
                 <div class="form-group text-white">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control username" id="username" placeholder="Username..." name="username">
                </div>
                <div class="form-group text-white">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control password" id="password" placeholder="Password..." name="password">
                    <small id="passwordHelp" class="form-text text-muted">We'll never ask for your password.</small>
                </div>
                <button type="submit" class="btn btn-secondary btn-customized">Signup</button>
              </form>
        </div>
    </div>
</div>








{{!-- <div class="center">
<form action="/auth/signup" method="POST">
<h2 class="text-white">Register</h2>
  <div class="form-group text-white">
    <label for="exampleInputUser">Username</label>
    <input type="text" class="form-control" id="exampleInputUser" aria-describedby="userHelp" placeholder="Enter username" name="username">  
  </div>
  <div class="form-group text-white">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <small id="userHelp" class="form-text text-muted">We'll never ask for your password.</small>
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</div> --}}





{{!-- <h2 class="text-white">Signup</h2>
<form action="/auth/signup" method="POST">
   <label class="text-white"> Username
      <input type="text" name="username">
   </label>
   <label class="text-white"> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form> --}}