@font-face{
src: url(/stylesheets/RubikMoonrocks-Regular.ttf);
font-family: rocks;
}

@font-face{
  src: url(/stylesheets/THICCCBOI-ExtraBold.ttf);
  font-family: thiccc;
  }




body {
  padding: 50px;
  font: 14px;
  font-family: thiccc;
  background-image:url(../images/textura2.png);
  background-size: cover;
  background-attachment: fixed
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.error{
  color: red;
}

.ninja{
  visibility:hidden
}

.center{
  display: flex;
  align-content: center;
}

.font{
font-family: thiccc;
color:rgb(133, 239, 97);
} 